<div class="profile-page">
  <header>
    <div class="edit"><a href="#">Edit</a></div>
    <div class="profile-header">
      <div class="profile-pic">
        <i class="material-icons">person</i>
      </div>
      <div class="profile-name">First Last</div>
    </div>
  </header>
  <main>
    <table>
      <thead>
        <tr><th>Groups<a href="new-group"><i class="material-icons">add_circle_outline</i></a></th><tr>
      </thead>
      <tbody>
        <tr><td>Ballard Bombers</td></tr>
        <tr><td>Magnolia Magicians</td></tr>
        <tr><td>Capital Hill Captains</td></tr>
        <tr><td>Fremont Freaks</td></tr>
        <tr><td>Wallingford Walleyes</td></tr>
        <tr><td>Queen Anne Queries</td></tr>
      </tbody>
    </table>
  </main>
</div>
