.profile-page {
  background-color: #96a5a5;
  height: 100vh;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.edit {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.profile-header {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.profile-pic {
  height: 100px;
  width: 100px;
  border: solid black 2px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-name {
  font-size: 100px;
}

main {
  display: flex;
  justify-content: center;
}

table {
  border: solid black 2px;
  width: 500px;
}

th {
  display: flex;
  justify-content: space-around;
}

td {
  border: solid black 2px;
}
